
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="row">
        <div class="form-group col-md-4">
            <input type="text" class="form-control" />
        </div>

        <div class="form-group col-md-8">
            <button class="btn btn-success btn-sm">ekle</button>
        </div>
    </div>
    <div class="row">
        <table class="table table-responsive">
            <tr>
                <th>&nbsp;</th>
                <th>No</th>
                <th>Name</th>
                <th>Created Date</th>
                <th>Finished Date</th>
                <th>Work In Date</th>
                <th>Buttons</th>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>1.</td>
                <td>Su iç</td>
                <td>25.12.2017 18:31:30</td>
                <td>25.12.2017 18:32:30</td>
                <td>1 min.</td>
                <td><button class="btn btn-danger btn-sm">Sil</button></td>
            </tr>
        </table>
    </div>
</div> 

